rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function admin() {
      return request.auth != null
        && (
          firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin'
          || request.auth.token.email in [
            'admin@novusfuturesolutions.com',
            'marcus.vance@novusfuturesolutions.com'
          ]
        );
    }

    match /job-images/{fileName} {
      allow read: if true;
      allow write: if admin()
        && request.resource.size <= 5 * 1024 * 1024
        && request.resource.contentType.matches('image/(jpeg|png|webp)');
    }
  }
}
